<div class="row">
    <div class="col-md-4 col-sm-6 col-12 mb-5" 
    *ngFor="let product of products; let i = index">
        <div class="card h-100 w-auto">
            <div class="card-body">
                <img 
                [src]="product.imageUrl"
                alt="{{ product.name }}"
                class="img-fluid center"
                style="max-height: 150px;"
                >
            </div>
        </div>
        <div class="text-center pt-2 mb-5">{{ product.price * this.currencyRate | currency: this.currencyCode }}</div>
    </div>
</div>